/* Responsive works for every smartphone and table templates available on chrome */
/* Unfortunately not able to make a good responsive work for smartphones in portrait mode*/


@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home content {
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-searchResults .cards {
        grid-template-columns: 1fr;
    }

    #page-searchResults .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    #page-home main a {
        margin-top: 20px;
    }
    #page-home header a {
        bottom: 20px;
    }
    #page-home main h1 {
        font-size: 46px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 50vw;
    }
}

/* Configuration for 4k */
/* Don't know why I spent my time doing this */
@media (min-width: 1900px) {
    #page-home {
        height: 1400px;
        max-width: 1600px;
        background-position: 30vw 400px;
        zoom: 1.5;
    }
    #page-home .content {
        max-width: 1800px;
    }
    #page-home header a {
        font-size: 28px;
        margin-right: 0;
    }
    #page-home header a span {
        zoom: 2;
        margin-right: 8px;
    }
    #modal .content {
        width: 840px;
        height: 360px;
    }
    #modal header a {
        zoom: 5;
        width: 40px;
        height: 40px;
    }
    #modal header h1 {
        font-size: 42px;
    }
    #modal form label {
        font-size: 28px;
        margin-bottom: 20px;
    }
    #modal form input {
        font-size: 24px;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 100px;
    }
}

@media (max-height: 650px) {
    #page-home header a {
        bottom: 40px;
    }
    #page-home main h1 {
        position: absolute;
        top: 120px;
        font-size: 36px;
        margin-left: 10px;
    }
}

@media (max-width: 335px) {
    #page-home main h1 {
        font-size: 30px;
    }
    #page-home header a {
        bottom: 20px;
    }
}